$max-screen: theme('screens.2xl');
$min-screen: theme('screens.sm');

/* fluid typography based on https://www.madebymike.com.au/writing/fluid-type-calc-examples/ */
@define-mixin heading $level, $min-font-size, $max-font-size {
  .heading-$(level) {

    @screen sm {
      $font-diff: $max-font-size - $min-font-size;
      $screen-diff: stripUnits($max-screen) - stripUnits($min-screen);

      font-size: calc(rem($min-font-size) + ($font-diff) * ((100vw - $min-screen) / ($screen-diff)));;
    }
  
    @screen 2xl {
      font-size: rem($max-font-size);
    }
  }
}

@mixin heading 1, 32, 56;

@mixin heading 2, 36, 48;

@mixin heading 3, 32, 40;

@mixin heading 4, 24, 28;

@mixin heading 5, 22, 24;

