$max-screen: theme('screens.2xl');
$min-screen: theme('screens.sm');

/* fluid typography based on https://www.madebymike.com.au/writing/fluid-type-calc-examples/ */
@define-mixin heading $variant, $level, $min-font-size, $max-font-size {
  .$(variant)-$(level) {
    @mixin-content;

    @screen sm {
      $font-diff: $max-font-size - $min-font-size;
      $screen-diff: stripUnits($max-screen) - stripUnits($min-screen);

      font-size: calc(rem($min-font-size) + ($font-diff) * ((100vw - $min-screen) / ($screen-diff)));;
    }
  
    @screen 2xl {
      font-size: rem($max-font-size);
    }
  }
}

@mixin heading default, 1, 32, 56 {
  letter-spacing: rem(-1);
}

@mixin heading default, 2, 36, 48 {
  letter-spacing: rem(-0.8);
}

@mixin heading default, 3, 32, 40 {
  letter-spacing: rem(-0.7);
}

@mixin heading default, 4, 24, 28 {
  letter-spacing: rem(-0.5);
}

@mixin heading default, 5, 22, 24 {
  letter-spacing: rem(-0.45);
}

.sub-1 {
  font-size: rem(20);
}

.sub-2 {
  font-size: rem(18);
}

.sub-3 {
  font-size: rem(16);
}
